<mat-card class="card-margin">
    <div fxLayout fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="15px"
        fxLayoutGap.xs="15px" fxLayoutGap.sm="15px">
        <div fxFlex="23%" fxLayoutAlign="center center">
            <span>Field name: </span>
            <span><strong>FieldName</strong></span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div fxFlex="23%" fxLayoutAlign="center center">
            <span>Field Type: </span>
            <span><strong>FieldTypedsadsadasddsddsds fdsfsdfs fdsf s FieldTypedsadsadasddsddsds fdsfsdfs fdsf
                    s</strong></span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div fxFlex="23%" fxLayoutAlign="center center">
            <span>Default Value: </span>
            <span><strong>DefaultValue</strong></span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div fxFlex="23%" fxLayoutAlign="center center">
            <span>Validation: </span>
            <span><strong>Validation</strong></span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div fxFlex="8%" fxLayoutAlign="center center">
            <button mat-icon-button matTooltip="Edit">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Delete">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</mat-card>

<mat-card class="card-margin">
    <div fxLayout fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="15px"
        fxLayoutGap.xs="15px" fxLayoutGap.sm="15px">
        <div fxFlex="23%" fxLayoutAlign="center center">
            <span>Field name: </span>
            <span><strong>FieldName</strong></span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div fxFlex="23%" fxLayoutAlign="center center">
            <span>Field Type: </span>
            <span><strong>FieldType
                    s</strong></span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div fxFlex="23%" fxLayoutAlign="center center">
            <span>Default Value: </span>
            <span><strong>DefaultValue</strong></span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div fxFlex="23%" fxLayoutAlign="center center">
            <span>Validation: </span>
            <span><strong>Validation</strong></span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div fxFlex="8%" fxLayoutAlign="center center">
            <button mat-icon-button matTooltip="Edit">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Delete">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</mat-card>

<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
    <button mat-stroked-button class="stroked-button" 
    (click)="OnCreateNewTemplate()"
    fxLayoutAlign="center center">
        <mat-icon>add</mat-icon>
        Add Field
    </button>
</div>