.card-margin {
  margin: 0.5% 5% 0.5% 5%;
  height: auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
}

span {
  
  display: block;
  word-wrap: break-word;
}

mat-divider {
  margin: -15px 0 -15px 0;
}
