<mat-card class="card-margin" *ngFor="let field of fields">
    <div fxLayout fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="15px"
        fxLayoutGap.xs="15px" fxLayoutGap.sm="15px">
        <div fxFlex="23%" fxLayoutAlign="center center">
            <span>Field name: </span>
            <span><strong>{{field.label}}</strong></span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div fxFlex="23%" fxLayoutAlign="center center">
            <span>Field Type: </span>
            <span><strong>{{field.type}}</strong></span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div fxFlex="23%" fxLayoutAlign="center center">
            <span>Default Value: </span>
            <span>
                <strong *ngIf="field.defaultValue">{{field.defaultValue}}</strong>
                <strong *ngIf="!field.defaultValue">--blank--</strong>
            </span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div fxFlex="23%" fxLayoutAlign="center center">
            <span>Validations: </span>
            <span>
                <strong *ngIf="field.validation">
                    <ng-container *ngFor="let validation of field.validation">
                        {{validation.name}}
                    </ng-container>
                </strong>
            </span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div fxFlex="8%" fxLayoutAlign="center center">
            <button mat-icon-button matTooltip="Edit" (click)="onActionsClick('Edit', field)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Delete" (click)="onActionsClick('Delete', field)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</mat-card>