.card-margin {
    margin: 0.5% 0 0.5% 0;
    height: auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 0px !important;
    border-radius: 0;
  }
  
  span {
    
    display: block;
    word-wrap: break-word;
    padding: 10px 0 10px 0;
  }
  
  .cell{
    background-color: #f2f2f2;
  }
  
  .products-container{
    min-height: 50vh;
  }
  