.example-container > * {
    width: 98%;
  }

  .file-input-container{
    background-color: #f5f5f5;
    padding: 15px 0 15px 15px;
    margin-bottom: 10px;
  }

  .example-chip-list {
    width: 100%;
  }