li {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.font-2 {
  font-size: 3.4rem;
}

.describer {
  background-color: white;
  color: black;
}

.box-container {
  margin-top: 60px;
}

button {
  font-size: 1.5rem;
  padding: 10px 25px;
  border-color: darkblue !important;
  border-width: 2px;
  margin-bottom: 20%;
  margin-top: 10px;
  border-radius: 25px;
}

.describer-link,
.describer-link-text {
  color: black;
  border-color: black;
  font-size: 1.5rem;
  font-weight: 600;
}

.describer-link {
  border: none;
  outline: none;
  background: transparent;
}

.describer-link:active{
  border: none;
  outline: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent
}
