li {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.font-2 {
  font-size: 3.4rem;
}

.describer {
  background-color: white;
  color: black;
}

.box-container{
    margin-top: 60px;
}