<div fxLayout="row" fxLayoutAlign="space-between center" class="filter-row mat-elevation-z1"
    fxLayoutGap="15px">
    <button mat-raised-button (click)="changeViewType('sort')" fxShow="true" fxHide.lt-md="true">
        <mat-icon>sort</mat-icon>
        Sort
    </button>
    <!--Mobile version of above button-->
    <button mat-icon-button (click)="changeViewType('sort')" fxShow="true" fxHide.gt-sm="true">
        <mat-icon>sort</mat-icon>
        <br/>
        Sort
    </button>

    <div fxLayoutGap="15px">
        <button mat-raised-button (click)="changeViewType('filter')" fxShow="true" fxHide.lt-md="true">
            <mat-icon>filter_list</mat-icon>
            Filter
        </button>
        <!--Mobile version of above button-->
        <button mat-icon-button (click)="changeViewType('filter')" fxShow="true" fxHide.gt-sm="true">
            <mat-icon>filter_list</mat-icon>
            <br/>
            Filter
        </button>
        <button mat-raised-button (click)="changeViewType('addNewItem')" fxShow="true" fxHide.lt-md="true">
            <mat-icon>add_circle_outline</mat-icon>
            Add Category
        </button>
        <!--Mobile version of above button-->
        <button mat-icon-button (click)="changeViewType('addNewItem')" fxShow="true" fxHide.gt-sm="true">
            <mat-icon>add_circle_outline</mat-icon>
            <br/>
            Add Category
        </button>
    </div>
</div>