<button type="button" id="mobile-nav-toggle" (click)="toggle()">
  <i class="fa" [ngClass]="{
    'fa-close':toggleIcon === false,
    'fa-bars':toggleIcon === true
  }"></i>
</button>
<header id="header">
  <div>

    <div id="logo" class="pull-left">
      <h1><a href="#body" class="scrollto"><span>Param </span>Solutions</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="#hero">Home</a></li>
        <li><a href="#about-us">About</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#screenshots">Screenshots</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            Dropdown button
          </a>
          <div class="dropdown-menu">
            <h5 class="dropdown-header">Dropdown header</h5>
            <button class="dropdown-item">
              <span>Link 1</span>
            </button>
            <button class="dropdown-item">
              <span>Link 2</span>
            </button>
            <button class="dropdown-item">
              <span>Link 3</span>
            </button>
            <h5 class="dropdown-header">Dropdown header</h5>
            <button class="dropdown-item" href="#">
              <span>Another link</span>
            </button>
          </div>
        </li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header>
<mobile-navigation></mobile-navigation>