<button type="button" id="mobile-nav-toggle" (click)="toggle()">
  <span class="fa mobile-nav-active" [ngClass]="{
    'fa-times':toggleIcon,
    'fa-bars':!toggleIcon,
    'mobile-nav-active':toggleIcon
  }"></span>
</button>
<header id="header">
  <div>

    <div id="logo" class="pull-left">
      <h1><a href="#body" class="scrollto"><span>Param </span>Solutions</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="#hero">Home</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                Your Products
            </a>
            <div class="dropdown-menu">
              <div class="sign-in">
                <button class="btn btn-success" routerLink="login">
                  {{Authentication}}
                </button>
                <button class="btn btn-success" (click)="logout()">
                    Logout
                  </button>
              </div>
  
              <h5 class="dropdown-header">On Product Category</h5>
              <button class="dropdown-item">
                <span>Show All Product Categories</span>
              </button>
              <button class="dropdown-item">
                <span>Add Product Category</span>
              </button>

              <h5 class="dropdown-header">On Products</h5>
              <button class="dropdown-item">
                <span>Show All Products</span>
              </button>
              <button class="dropdown-item">
                <span>Add Product</span>
              </button>
            </div>
          </li>
          <!--nested drop down-->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Tutorials
          </a>
          <div class="dropdown-menu">
            <li><a tabindex="-1" href="#">HTML</a></li>
            <li><a tabindex="-1" href="#">CSS</a></li>
            <li class="dropdown-submenu">
              <a class="test dropdown-toggle" tabindex="-1" href="#">New dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                <li class="dropdown-submenu">
                  <a class="test dropdown-toggle" href="#">Another dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">3rd level dropdown</a></li>
                    <li><a href="#">3rd level dropdown</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </div>
        </li>
        <!--/end of nested drop down-->
        <li><a href="#about-us">About</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#screenshots">Screenshots</a></li>        
        <li><a href="#team">Team</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#blog">Blog</a></li>        
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header>
<mobile-navigation [ShowingMobileNavigation]="toggleIcon" (SelectedMenuItem)="MobileMenuSelected()"></mobile-navigation>
<div id="mobile-body-overly" *ngIf="toggleIcon" style="display: block;" (click)="toggle()"></div>