.example-container > * {
  width: 98%;
}

.no-margin-bottom {
  margin-bottom: 0;
}

::ng-deep mat-step-header[aria-selected="true"] ~ .mat-stepper-vertical-line::before {
  display: none !important;
}

::ng-deep .mat-vertical-content {
  padding: 0 24px 24px 0px !important;
}

mat-card {
  padding: 0;
  cursor: pointer;
}

.mat-card-title-payout {
  background-color: #454545;
  color: white;
  padding: 16px;
  border-radius: 4px 4px 0 0;
}

.mat-card-title-payout:hover {
  background-color: black;
}

.mat-card-title-selected {
  background-color: green;
}

.mat-card-title-selected:hover {
  background-color: green;
}

mat-card-subtitle {
  padding: 16px;
}

a {
  color: #0084b4;
}
