<ng-template #feeOrFreeStep>
    <div fxLayoutAlign="center center" fxLayout="row wrap">
        <div class="describer-content" fxFlex.sm="95%" fxFlex.xs="95%">
            Payment processing will be handled by our portal for which the service charges are applicable.
            Do you want to collect application fee from your applicants? If yes service
            charges are applicable for handling the payment processing by our portal.
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
        <button mat-stroked-button class="stroked-button" (click)="onFeeYes()">
            Yes
        </button>
        <button mat-stroked-button class="stroked-button" (click)="onFeeNo()">
            No
        </button>
    </div>
</ng-template>
<ng-template #feeCalculation>
    <div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutGap.xs="15px"
        fxLayoutGap.sm="15px" fxLayoutAlign="stretch stretch">
        <div class="example-container" fxFlex="28%" fxFlex.sm="98%" fxFlex.xs="98%" fxLayoutAlign="center center"
            [formGroup]="form">
            Rs.
            <mat-form-field appearance="fill">
                <mat-label>Application Fee</mat-label>
                <input matInput placeholder="Application Fee" formControlName="applicationFee" required>
                <mat-error *ngIf="form.controls['applicationFee'].errors?.required">
                    Please enter Application Fee
                </mat-error>
            </mat-form-field>
        </div>
        <div class="example-container" fxFlex="2%" fxFlex.sm="98%" fxFlex.xs="98%" fxLayoutAlign="center center">
            <mat-label>+</mat-label>
        </div>
        <div class="example-container" fxFlex="6%" fxFlex.sm="98%" fxFlex.xs="98%" fxLayoutAlign="center center">
            <mat-label>Rs. {{serviceFee}}</mat-label>
        </div>
        <div class="example-container" fxFlex="2%" fxFlex.sm="98%" fxFlex.xs="98%" fxLayoutAlign="center center">
            <mat-label>=</mat-label>
        </div>
        <div class="example-container" fxFlex="28%" fxFlex.sm="98%" fxFlex.xs="98%" fxLayoutAlign="center center">
            <mat-label>
                <span *ngIf="(form.controls['applicationFee'].value)">
                    Rs. {{serviceFee+ConvertStringToFloat(form.controls['applicationFee'].value)}}
                </span>
            </mat-label>
        </div>
        <div class="example-container" fxFlex="28%" fxFlex.sm="98%" fxFlex.xs="98%" fxLayoutAlign="center center">
            <mat-label>(Recommended Application fee Rs. 500 to Rs. 600)</mat-label>
        </div>
        <div class="describer-content" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">
            It is important that you set the price of your Application Fee which will include our
            service fee and your fee towards the application.<br />
            The recommended Application fee is just a guide to help you decide. All Application
            Fee Decisions are yours and yours only.
        </div>
    </div>

</ng-template>
<ng-template #bankDetails>
    <div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutGap.xs="15px"
        fxLayoutGap.sm="15px" fxLayoutAlign="stretch stretch">
        <div class="describer-content no-margin-bottom" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%"
            fxLayoutAlign="center center">
            As you have selected the option to collect application fee from your applicants,
            it is important for you to add your bank account details in order to be able to
            collect the amounts paid towards the applications in your bank account.
        </div>
        <mat-horizontal-stepper fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" (click)="onheClick()">
            <mat-step>
                <ng-template matStepLabel>Select a payment method*</ng-template>
                <div fxLayout="row " fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap fxLayoutGap="5%"
                    fxLayoutAlign="center">
                    <mat-card fxFlex="42%" fxFlex.sm="98%" fxFlex.xs="98%"
                        (click)="showPaypal=!showPaypal;showPayoneer=false">
                        <mat-card-title class="mat-card-title-payout" fxLayout.gt-xs="row wrap" fxLayout.xs="column"
                            fxLayoutAlign="center" [ngClass]="{
                            'mat-card-title-selected':showPaypal
                        }">
                            Paypal
                        </mat-card-title>
                        <mat-card-subtitle fxLayout.gt-xs="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
                            Minimum $50
                        </mat-card-subtitle>
                    </mat-card>
                    <mat-card fxFlex="42%" fxFlex.sm="98%" fxFlex.xs="98%"
                        (click)="showPayoneer=!showPayoneer;showPaypal=false">
                        <mat-card-title class="mat-card-title-payout" fxLayout.gt-xs="row wrap" fxLayout.xs="column"
                            fxLayoutAlign="center" [ngClass]="{
                            'mat-card-title-selected':showPayoneer
                        }">
                            Payoneer
                        </mat-card-title>
                        <mat-card-subtitle fxLayout.gt-xs="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
                            Minimum $50
                        </mat-card-subtitle>
                    </mat-card>
                </div>

                <!--Start of Paypal account registration-->
                <div *ngIf="showPaypal" fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="0"
                    fxLayoutGap.xs="15px" fxLayoutGap.sm="15px" fxLayoutAlign="stretch stretch">
                    <div class="describer-content no-margin-bottom" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%"
                        fxLayoutAlign="start center">
                        <mat-card-title>
                            Your PayPal Account
                        </mat-card-title>
                    </div>
                    <div class="describer-content no-margin-bottom" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%"
                        fxLayoutAlign="start center">
                        <p> Get paid by credit or debit card, PayPal transfer or even via bank account in just a few
                            clicks.
                            All you need is your email address or mobile number.
                            <a mat-button target="_blank" href="https://www.paypal.com/">
                                More about PayPal
                            </a>
                            |
                            <a mat-button target="_blank" href="https://www.paypal.com/signup">Create an account
                            </a>
                        </p>
                    </div>

                    <div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.xs="15px"
                        fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutGap="1%" fxLayoutGap.sm="15px"
                        fxLayoutAlign="stretch stretch" [formGroup]="payPalForm">
                        <div class="example-container" fxFlex="48%" fxLayoutAlign="center center">
                            <mat-form-field appearance="fill">
                                <mat-label>Email address</mat-label>
                                <input matInput placeholder="Email address" formControlName="emailAddress" required>
                                <mat-error *ngIf="payPalForm.controls['emailAddress'].errors?.required">
                                    Please enter a valid Email address
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="example-container" fxFlex="48%" fxLayoutAlign="center center">
                            <mat-form-field appearance="fill">
                                <mat-label>Confirm email address</mat-label>
                                <input matInput placeholder="Confirm email address"
                                    formControlName="confirmEmailAddress" required>
                                <mat-error *ngIf="payPalForm.controls['confirmEmailAddress'].errors?.required">
                                    Please enter a valid Email address
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <!--End of Paypal account registration-->
            </mat-step>

        </mat-horizontal-stepper>
    </div>
</ng-template>

<div class="full-height mat-override">
    <mat-horizontal-stepper #stepper fxShow="true" fxHide.lt-md="true">
        <mat-step>
            <ng-template matStepLabel>Collect Application Fee</ng-template>
            <ng-container *ngTemplateOutlet="feeOrFreeStep"></ng-container>
            <div align="right">
                <button mat-stroked-button class="stroked-button" matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Fee Calculation</ng-template>
            <ng-container *ngTemplateOutlet="feeCalculation"></ng-container>
            <div align="right" fxLayoutGap="10px">
                <button mat-stroked-button class="stroked-button" matStepperPrevious>Back</button>
                <button mat-stroked-button class="stroked-button" matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Bank Details</ng-template>
            <ng-container *ngTemplateOutlet="bankDetails"></ng-container>
            <div align="right" fxLayoutGap="10px">
                <button mat-stroked-button class="stroked-button" matStepperPrevious>Back</button>
                <button mat-stroked-button class="stroked-button" matStepperNext>Submit</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
    <mat-vertical-stepper #previewStepper fxShow="true" fxHide.gt-sm="true">
        <mat-step>
            <ng-template matStepLabel>Collect Application Fee</ng-template>
            <ng-container *ngTemplateOutlet="feeOrFreeStep"></ng-container>
            <div align="right">
                <button mat-stroked-button class="stroked-button" matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Fee Calculation</ng-template>
            <ng-container *ngTemplateOutlet="feeCalculation"></ng-container>
            <div align="right" fxLayoutGap="10px">
                <button mat-stroked-button class="stroked-button" matStepperPrevious>Back</button>
                <button mat-stroked-button class="stroked-button" matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Bank Details</ng-template>
            <ng-container *ngTemplateOutlet="bankDetails"></ng-container>
            <div align="right" fxLayoutGap="10px">
                <button mat-stroked-button class="stroked-button" matStepperPrevious>Back</button>
                <button mat-stroked-button class="stroked-button" matStepperNext>Submit</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>

</div>