/* Mobile Nav Styling */
#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: #fff;    
    overflow-y: auto; 
    overflow-x: hidden; 
    width: 270px;  
  }

  //#mobile-nav:
  
  #mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;
  }
  
  #mobile-nav ul li a {
    color: rgba(36, 32, 32, 0.849);
    overflow: hidden;
    padding: 6px 22px 6px 15px;  
    width: 100%;
    display: block;
    text-decoration: none;    
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    letter-spacing: 0;
    transition: 0.3s;
  }   
  
  #mobile-nav ul .menu-item-active {
    color: #71c55d;
  }

.sign-in {
  margin: 10px;
  text-align: center;
}

.sign-in button {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px;
}

.dropdown-item{
  margin-left: 10px
}
