<nav id="mobile-nav" *ngIf="ShowingMobileNavigation" [@enterAnimation]>
  <ul>
    <li>
      <div class="sign-in">
        <button class="btn btn-success" (click)="toggleAuthentication()">
          {{'' | authentication}}
        </button>
      </div>
    </li>
    <li class="menu-active"><a href="#hero" (click)="SelectMenuItem()">Home</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="collapse" data-target="#yourProducts">Your Products</a>
      <div id="yourProducts" class="collapse">
        <a data-toggle="collapse" class="dropdown-toggle dropdown-item" data-target="#onProductCategory">On Product
          Categroy</a>
        <div id="onProductCategory" class="collapse">
          <button class="dropdown-item" (click)="SelectMenuItem()" routerLink="product-categories">
            Show All Product Categories
          </button>
          <button class="dropdown-item" (click)="SelectMenuItem()">
            Add Product Category
          </button>
        </div>

        <a data-toggle="collapse" class="dropdown-toggle dropdown-item" data-target="#onProducts">On Products</a>
        <div id="onProducts" class="collapse">
          <button class="dropdown-item" (click)="SelectMenuItem()">
            Show All Products
          </button>
          <button class="dropdown-item" (click)="SelectMenuItem()">
            Add Product
          </button>
        </div>
      </div>
    </li>
    <li><a href="#about-us" (click)="SelectMenuItem()">About</a></li>
    <li><a href="#features" (click)="SelectMenuItem()">Features</a></li>
    <li><a href="#screenshots" (click)="SelectMenuItem()">Screenshots</a></li>
    <li><a href="#team" (click)="SelectMenuItem()">Team</a></li>
    <li><a href="#pricing" (click)="SelectMenuItem()">Pricing</a></li>
    <li><a href="#blog" (click)="SelectMenuItem()">Blog</a></li>
    <li><a href="#contact" (click)="SelectMenuItem()">Contact</a></li>
  </ul>
</nav>