<div class="full-height">
    <form [formGroup]="templateDetailsForm">
        <div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.xs="15px" fxLayoutGap.sm="15px"
            fxLayoutAlign="start">
            <div class="example-container" fxFlex="98%" fxLayoutAlign="center center">
                <mat-form-field appearance="fill">
                    <mat-label>Enter Template Name</mat-label>
                    <input matInput placeholder="Enter Template Name" formControlName="name" required>
                    <mat-error *ngIf="templateDetailsForm.controls['name'].errors?.required">
                        Please enter Template Name
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="example-container" fxFlex="98%" fxLayoutAlign="center center">
                <mat-form-field appearance="fill">
                    <mat-label>Enter Description</mat-label>
                    <input matInput placeholder="Enter Description" formControlName="description" required>
                    <mat-error *ngIf="templateDetailsForm.controls['description'].errors?.required">
                        Please enter Description
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayoutAlign="end">
            <button mat-stroked-button class="stroked-button" (click)="onSaveTemplateDetails()"
            [disabled]="templateDetailsForm.invalid">
                Submit</button>
            &nbsp;
            &nbsp;
        </div>
    </form>
</div>