
    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill >
        <mat-sidenav #sidenav fxLayout="column">
            <mat-divider></mat-divider>
            <mat-nav-list>
                <a mat-list-item [routerLink]="[nav.link]" *ngFor="let nav of navItems" (click)="sidenav.toggle()">
                    <mat-icon>{{nav.icon}}</mat-icon>
                    {{nav.title}}
                    <mat-divider></mat-divider>
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <!--Todo remove this and move it outside of the mat-sidenav-container-->
        <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
