<div class="box-container">
  <app-main-carousel [slides]="slides"></app-main-carousel>
</div>

<div class="describer" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutGap.xs="0" fxLayoutAlign="center start">
  <div fxFlex="45%" fxFlex.sm="95%" fxFlex.xs="95%">
    <h1>
      The freedom to create school application form platform, the way you want
    </h1>
  </div>
  <div fxFlex="45%" fxFlex.sm="95%" fxFlex.xs="95%">
    <div class="describer-content">
      Define and build your own high quality school application portal. Take advantage of our School Application
      Creation
      console to select the application form fields of your choice and create a form the way you want.
    </div>
    <div>

      <div class="describer-link" (click)="onGetStartedClick()">
        <div class="describer-link-text">
          Get Started
        </div>
        <div>
          >
        </div>
      </div>


    </div>
  </div>
</div>