<div class="container">
  <div class="describer" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutGap.xs="0" fxLayoutAlign="center start">
    <div fxFlex="45%" fxFlex.sm="95%" fxFlex.xs="95%">
      <h1>
        The freedom to create dynamic eCommerce templates and have your own platform, the way you want
      </h1>
    </div>
    <div fxFlex="45%" fxFlex.sm="95%" fxFlex.xs="95%">
      <div class="describer-content">
        Define and build your own high quality eCommerce application portal. Take advantage of our Template
        Creation
        console to manage your product categories and products for your portal showcasing your work — you can do it all
        within our console.
      </div>
      <div>

        <div class="describer-link" (click)="onGetStartedClick()">
          <div class="describer-link-text">
            Get Started
          </div>
          <div>
            >
          </div>
        </div>


      </div>
    </div>
  </div>


  <div fxLayout="row wrap" class="products-wrapper" fxLayoutAlign="center center">
    <div fxFlex=95 fxLayout="row wrap" fxLayoutAlign="start center">
      <div fxFlex="33" fxFlex.sm="33.3" fxFlex.xs="50" class="col" *ngFor="let template of templateList">
        <mat-card>
          <img mat-card-image src="../../../../assets/images/template1.PNG"
            alt="Template Image">
        </mat-card>
        <h3>{{template.name}}</h3>
        <button mat-raised-button (click)="viewDemo(template)" color="accent">View Demo</button>
      </div>

      <div fxFlex="33" fxFlex.sm="33.3" fxFlex.xs="50" class="col" >
        <mat-card>
          <img mat-card-image src="../../../../testapp/assets/images/template1.PNG"
            alt="Template Image">
        </mat-card>
        <h3>template.name</h3>
        <button mat-raised-button (click)="viewDemo({id:1, name:'Groceries'})" color="accent">View Demo</button>
      </div>

      <div fxFlex="33" fxFlex.sm="33.3" fxFlex.xs="50" class="col">
        <mat-card>
          <img mat-card-image src="../../../../testapp/assets/images/template1.PNG"
            alt="Template Image">
        </mat-card>        
        <h3>template.name</h3>
        <button mat-raised-button (click)="viewDemo({id:1, name:'Groceries'})" color="accent">View Demo</button>
      </div>

      


    </div>
  </div>




</div>