/* You can add global styles to this file, and also import other style files */

.jumbotron{
    margin-top: 48px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
}

.btn-link{
    color: #28a745
}