/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.describer {
    width: 100%;
    background-color: #0c6645;
    color: white;
  }
  
  .describer-heading {
    font-size: 48px;
    font-weight: 600;
  }
  
  .describer-content {
    font-size: 20px;
    line-height: 1.8em;
    margin-top: 20px;
    margin-bottom: 46px;
  }
  
  .describer-link {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    line-height: 1.8em;
  }
  
  .describer-link-text {
    font-size: 24px;
    color: white;
    line-height: 1.8em;
    border-bottom-style: solid;
    border-color: white;
    margin-right: 10px;
    cursor: pointer;
  }
