<h1 mat-dialog-title>{{data}}</h1>
<form [formGroup]="form">
    <div mat-dialog-content>
        <div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.xs="15px" fxLayoutGap.sm="15px"
            fxLayoutAlign="center">
            <div class="example-container" fxFlex="48%" fxLayoutAlign="center center">
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Enter Product Category Name" formControlName="name" [required]="!data"
                        [readonly]="data">
                    <mat-error *ngIf="form.controls['name'].errors?.required">
                        Please enter Product Name
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="example-container" fxFlex="48%" fxLayoutAlign="center center">
                <mat-form-field appearance="fill">
                    <mat-label>Status</mat-label>
                    <!-- <input matInput placeholder="Field Type"> -->
                    <mat-select formControlName="status" [required]="!data" [disabled]="data">
                        <mat-option>--</mat-option>
                        <mat-option value="Active">Active</mat-option>
                        <mat-option value="Inactive">Inactive</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls['status'].errors?.required">
                        Please choose this product category status
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="example-container" fxFlex="48%" fxLayoutAlign="center center">
                <mat-form-field appearance="fill">
                    <mat-label>Unit</mat-label>
                    <input matInput placeholder="Enter Product Unit" formControlName="unit" [required]="!data"
                        [readonly]="data">
                    <mat-error *ngIf="form.controls['unit'].errors?.required">
                        Please enter Unit
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="example-container" fxFlex="48%" fxLayoutAlign="center center">
                <mat-form-field appearance="fill">
                    <mat-label>Unit Price</mat-label>
                    <input matInput placeholder="Enter Product Unit Price" formControlName="unitPrice"
                        [required]="!data" [readonly]="data">
                    <mat-error *ngIf="form.controls['unitPrice'].errors?.required">
                        Please enter Unit Price
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="example-container" fxFlex="48%" fxLayoutAlign="center center">
                <mat-form-field appearance="fill">
                    <mat-label>Color</mat-label>
                    <input matInput placeholder="Enter Product Color" formControlName="color" [readonly]="data">
                </mat-form-field>
            </div>
            <div class="example-container" fxFlex="48%" fxLayoutAlign="center center">
                <mat-form-field appearance="fill">
                    <mat-label>Model Name</mat-label>
                    <input matInput placeholder="Enter Product Model Name" formControlName="modelName"
                        [readonly]="data">
                </mat-form-field>
            </div>
            <div class="example-container" fxFlex="48%" fxLayoutAlign="center center">
                <mat-form-field appearance="fill">
                    <mat-label>Brand</mat-label>
                    <input matInput placeholder="Enter Product Brand" formControlName="brand" [readonly]="data">
                </mat-form-field>
            </div>
            <div class="example-container" fxFlex="48%" fxLayoutAlign="center center">
                <mat-form-field appearance="fill">
                    <mat-label>Added Date</mat-label>
                    <input matInput placeholder="Enter Product added date" formControlName="addedDate"
                        [readonly]="data">
                </mat-form-field>
            </div>
            <div class="example-container" fxFlex="95%" fxLayoutAlign="center center" *ngIf="!data">
                <div class="mat-form-field-wrapper file-input-container">
                    <mat-label>Upload an Image</mat-label>
                    <input id="singleFile" type="file" [readonly]="data" [disabled]="data" />
                </div>
            </div>
            <div class="example-container" fxFlex="96%" fxLayoutAlign="center center">
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <input matInput placeholder="Description" formControlName="description" [required]="!data"
                        [readonly]="data">
                    <mat-error *ngIf="form.controls['description'].errors?.required">
                        Please enter Description
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="example-container" fxFlex="96%" fxLayoutAlign="center center">
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Keywords</mat-label>
                    <mat-chip-list #chipList aria-label="Fruit selection" formControlName="keywords">
                        <mat-chip *ngFor="let fruit of keywords.value; let i = index" [selectable]="selectable"
                            [removable]="removable" (removed)="remove(i)" [disabled]="data">
                            {{fruit}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Keywords" [matChipInputFor]="chipList" [readonly]="data"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>

<div mat-dialog-actions fxLayoutAlign="end" fxLayoutGap="10px">
    <button mat-stroked-button class="stroked-button" (click)="onNoClick()">Back</button>
    <button mat-stroked-button class="stroked-button" [mat-dialog-close]="form.getRawValue()" [disabled]="form.invalid">
        Submit
    </button>
    &nbsp;
    &nbsp;
</div>
<br/>