<h1 mat-dialog-title>Add new Field</h1>
<form [formGroup]="form">
    <div mat-dialog-content>
        <div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.xs="15px" fxLayoutGap.sm="15px"
            fxLayoutAlign="center">
            <div class="example-container" fxFlex="48%" fxLayoutAlign="center center">
                <mat-form-field appearance="fill">
                    <mat-label>Field Name</mat-label>
                    <input matInput placeholder="Field Name" formControlName="name" required>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </div>
            <div class="example-container" fxFlex="48%" fxLayoutAlign="center center">
                <mat-form-field appearance="fill">
                    <mat-label>Field Type</mat-label>
                    <!-- <input matInput placeholder="Field Type"> -->
                    <mat-select formControlName="type" required>
                        <mat-option>--</mat-option>
                        <mat-option value="Textbox">Textbox</mat-option>
                        <mat-option value="Password">Password</mat-option>
                        <mat-option value="Email">Email</mat-option>
                        <mat-option value="Dropdown">Dropdown</mat-option>
                        <mat-option value="HeadingLabel">Heading Label</mat-option>
                        <mat-option value="AddressLabel">Address Label</mat-option>
                        <mat-option value="LogoImage">Logo Image</mat-option>
                        <mat-option value="Link">Link</mat-option>
                        <mat-option value="FileUpload">File Upload</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls['type'].errors?.required">
                        Please choose a Field Type
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="example-container" fxFlex="48%" fxLayoutAlign="center center">
                <mat-form-field appearance="fill">
                    <mat-label>Field Label</mat-label>
                    <input matInput placeholder="Field Label" formControlName="label" required>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </div>
            <div class="example-container" fxFlex="48%" fxLayoutAlign="center center">
                <mat-form-field appearance="fill">
                    <mat-label>Default Value</mat-label>
                    <input matInput placeholder="Default Value" formControlName="defaultValue">
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </div>

            <h3 mat-dialog-title class="example-container" fxFlex="96%" fxLayoutAlign="center center">
                Select Field's Validations
            </h3>
            <div class="example-container" fxFlex="48%" fxLayoutAlign="center center">
                <mat-selection-list formControlName="validation">
                    <mat-list-option *ngFor="let validation of validations" [value]="validation">
                        {{validation.name}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>

    </div>
</form>

<div mat-dialog-actions fxLayoutAlign="end">
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="form.getRawValue()" cdkFocusInitial>Ok</button>
    <!-- [mat-dialog-close]="data.animal" -->
</div>